body {
  background-color: #f2f2f2;
}

.container {
  padding-top: 40px;
}

nav{
  background-color: #66cccc;
  text-align: right;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 10;
}

.navigation-bar a{
  font-size: 20px;
  padding: 5px;
/*  font-weight: 500;*/
  text-shadow: none;
  text-align: right;
}

.navigation-bar a{
  display: inline-block;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/*.navigation-bar a:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}*/
.navigation-bar a:link{
  text-decoration: none;
  }

.navigation-bar a:hover,
.navigation-bar a:focus{
  color: #ee8e85; 
  outline: none;
}

#first-div {
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 600px;
}

#second-div {
  background-image:url(http://i.imgur.com/pksU2Cwl.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
}

#third-div {
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 600px;
}

#fourth-div {
  background-image:url(http://i.imgur.com/pksU2Cwl.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
}


.profilepic {
  height: 300px;
  width: 300px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}

.screenshot {
  /*height: 200px;*/
  width: 100%;
}

.contact-icons {
  float: left;
  background-color: black;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.aboutme {
  padding-bottom: 30px;
}

.desc {
  /*border: black 1px solid;*/
}

.proj-img {
  /*border: black 1px solid;*/
}

.project{
  padding: 20px;
  height: 100%;
  background-color: #f2f2f2;
}

/*.panel-default > .panel-heading {
  border: #66cccc 1px solid;
}
*/
.panel-default {
  border: #66cccc 1px solid;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  background-color: #f2f2f2;
}

.contactme {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #7f8c8d;
}

.social {
  margin-right: 30px;
  padding: 10px;
}

.social-sm {
  margin-right: 30px;
} 

.fa {
  color: #7f8c8d;
}

.fa:hover {
  color: #5a6465;
}

